.idea
__pycache__
venv*
structures/cpp_lib/cmake-build-debug
structures/cpp_lib/dist/.cmake
structures/cpp_lib/dist/CMakeFiles
structures/cpp_lib/dist/Testing
structures/cpp_lib/dist/.ninja*
structures/cpp_lib/dist/build.ninja
structures/cpp_lib/dist/cmake_install.cmake
structures/cpp_lib/dist/CMakeCache.txt
structures/cpp_lib/.cmake
test.sql
